@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Montserrat:wght@300;400;500;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300&display=swap");
/* font-family: 'Montserrat', sans-serif; 
 font-family: 'Poppins', sans-serif; 
 font-family: 'Kiwi Maru', serif; */

.main-container button:focus,
.main-container button:active:focus,
.main-container button.active:focus,
.main-container button.focus,
.main-container button:active.focus,
.main-container button.active.focus {
  outline: none;
  box-shadow: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.left-main {
  width: 67%;
}
.right-main {
  width: 31%;
}

.product-details {
  margin-left: 2rem;
}

.no-product {
  display: none;
  width: 100%;
}

.no-product-save-for-later {
  width: 100%;
  height: 10vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.browse-btn {
  width: 13rem;
  height: 3rem;
  border: 0.02rem solid #ff6600;
  background-color: #ff6600;
  border-radius: 0.2rem;
  color: white;
}

.main-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  -webkit-box-shadow: 0 0 5px 2px #fff;
  -moz-box-shadow: 0 0 5px 2px #fff;
  box-shadow: 0 0 5px 2px #fff;
}

/* .header-main-left {
  display : flex;
  justify-content : space-between;
  align-items : center;
  flex-direction: row;
}



.left-header-main-left {
  width: 40%;

}

.right-header-main-left {
  width: 60%;
  display : flex;
  justify-content : center;
  align-items : center;
  flex-direction: row;
} */

.image-container img {
  width: 100%;
  max-width: 20rem;
  /* width: 15rem; */
  height: 20rem;
  margin: 1rem;
}
.quantity input {
  width: 5rem;
  /* display : flex;
  justify-content : center;
  align-items : center; */
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.product-catelogs {
  flex-direction: row;
}

.price-product {
  color: #131816;
}
.price-product-number {
  font-family: "Kiwi Maru", serif;
  font-size: 1.2rem;
}
.discount {
  font-size: 1rem;
}

/* ############################### RIGHT ############################## */
.right-main {
  height: 23rem;
}

.flex-container-row {
  display: flex;
  justify-content: space-between;

  align-items: center;
  flex-direction: row;
}
.right-main > .right-main-content > .heading {
  color: grey;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.right-main-content > .checkout > .checkout-button {
  width: 100%;
  height: 3.2rem;
  background-color: #ff9d00;
  color: #000;
  border: none;
  outline: none;
  border-radius: 0.2rem;
}
.other-functionality > .row > .col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-functionality > .row > .col-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.noticeEmptyStock {
  display: none;
}
/* .flex-container-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
} */

/* Out of order */
/* Parts are from twitter.com 
<div class="HeartAnimation"></div>
.HeartAnimation {
  padding-top: 2em;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
	background-repeat: no-repeat;
	background-size: 2900%;
  background-position: left;
	height: 50px;
	width: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.animate {
  animation: heart-burst .8s steps(28) forwards;
}

@keyframes heart-burst {
	0% {
		background-position: left
	}
	100% {
		background-position: right
	}
}
*/

/* ################### SAVE FOR LATER ################### */
.save-for-later {
  width: 100%;
  padding: 1rem 2rem;
}
.save-for-later > .product-catelogs > .image-container {
  padding: 1rem;
  width: 37%;
}

.delete-item .save-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .save-for-later > .image-container > img {
  padding: 1rem;
} */

.save-for-later > .product-catelogs > .product-details {
  width: 63%;
  margin-left: 2rem;
}
.snackbar {
  display: none;
  position: absolute;
  bottom: 0;
  right: -2%;
  width: 30rem;
  height: 5rem;
  background-color: white;

  border-radius: 0.5rem;
}
.snackbar .error {
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.9rem;
  font-weight: 650;
  border-radius: 0.5rem;
  height: inherit;
  width: inherit;
  background-color: red;
}
.snackbar .success {
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.9rem;
  font-weight: 650;
  border-radius: 0.5rem;
  height: inherit;
  width: inherit;
  background-color: #56c099;
}

@media (max-width: 998px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
}
/*For mobile phones*/
@media only screen and (max-width: 620px) {
  .left-main {
    width: 100%;
  }
  .right-main {
    width: 100%;
  }
  .save-for-later {
    width: 100%;
  }
  .save-for-later > .product-catelogs > .image-container {
    width: 100%;
  }
  .save-for-later > .product-catelogs > .product-details {
    width: 100%;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container > img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 1rem; */
    /* width:100%;
    max-width: 50rem;
    
    height: 30rem;
    margin: 1rem; */
  }
  .product-catelogs {
    flex-direction: column;
  }
  .product-quantity-size p {
    font-size: 1rem;
  }

  .product-quantity-size button {
    width: 1rem;
  }
  .product-quantity-size input {
    width: 5rem;
  }
  .size {
    width: 50%;
  }
  .snackbar {
    display: none;
    position: fixed;
    width: 100%;
    height: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .snackbar .error {
    background-color: red;
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    color: white;
  }
  .snackbar .success {
    background-color: green;
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    color: white;
  }
}
